<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092930575380-rphtk9sjnalg1fpdc63017cmbav46u8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092930575380-rphtk9sjnalg1fpdc63017cmbav46u8q</string>
	<key>API_KEY</key>
	<string>AIzaSyDOrCdL4VEv4Fz7uyXm-64jJg31wbBgMEs</string>
	<key>GCM_SENDER_ID</key>
	<string>1092930575380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.veriekleme</string>
	<key>PROJECT_ID</key>
	<string>veriekle-1101a</string>
	<key>STORAGE_BUCKET</key>
	<string>veriekle-1101a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092930575380:ios:33d44ac9a7288ae1965b01</string>
</dict>
</plist>